@page "/bicyclesforrent"
@using bike_rental.frontend.test.Models

@inject HttpClient http
@inject NavigationManager Navigation

<PageTitle>Bicycles for rent</PageTitle>

<h1>Bicycles ready to rent</h1>

@if (bicycles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Model</th>
                <th>Frame size id</th>
                <th>Is available</th>
                <th>Is in service</th>
                <th>Reservation</th>
                <th>Service Needed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bicycle in bicycles)
            {
                <tr>
                    <td>@bicycle.ModelName</td>
                    <td>@bicycle.FrameSizeId</td>
                    <td>@bicycle.IsAvailable</td>
                    <td>@bicycle.IsInService</td>
                    <td><button class="btn btn-warning" @onclick="@(() => ReserveThisBike(bicycle))">Reserve</button></td>
                    <td><button class="btn btn-warning" @onclick="@(() => SendBicycleToService(bicycle))">Send to service</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Bicycle> bicycles;

    private async Task SendBicycleToService(Bicycle bicycle)
    {
        bicycle.IsAvailable = false;
        bicycle.IsInService = true;

        var response = await http.PatchAsJsonAsync($"https://localhost:7052/api/service/done", bicycle);

        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/bicyclesforrent", true);
        }
    }

    private async Task ReserveThisBike(Bicycle bicycle)
    {
        int id = bicycle.Id;
        Navigation.NavigateTo("/rentit/" + bicycle.Id, true);
        //Navigation.NavigateTo("/rentit", true);
    }

    protected override async Task OnInitializedAsync()
    {
        bicycles = await http.GetFromJsonAsync<List<Bicycle>>("https://localhost:7052/api/bike/rent");
    }
}
